h1, h2 {
    font-family: Arial;
}

p {
    font-family: Arial;
    font-size: large;
}

.button {
    text-align: left;
}

#beginBtn, #loginBtn, #tutBtn, #optionsBtn{
    /*position: absolute;*/
    top : 55%;
    font-size: large;
    width: 250px;
    height:50px;
    font-family: Arial;
}

#loginTutBtn {
    margin:auto;
    display:block;
    font-size: large;
    width: 250px;
    height:50px;
    font-family: Arial;
}

input[type="submit"], #logout {
    font-family: Arial;
    font-size: large;
    width: 100px;
    height:25px;
}

#click {
    font-size: large;
    width: 250px;
    height:50px;
    font-family: Arial;
}












/*SLIDESHOW STUFF*/
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

p #slides {
    font-family: Arial;
    font-size: large;
}








/*NAVBAR STUFF*/
#navbar{
    margin:0 auto;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: center;
    color: lightpink;
    font-size: 150%;

}


#navbar li {
    display: inline-block;
    margin-right: -8px;
    width: 15%;
    font-family: Arial;


}

#navbar a {

    display: block;
    color: black;
    /*text-shadow:*/
    /*-1px -1px 0 white,*/
    /*1px -1px 0 white,*/
    /*-1px 1px 0 white,*/
    /*1px 1px 0 white;*/
    text-align: left;
    text-decoration: none;
    padding: 1rem;
    font-size: 100%;
    text-align: center;

}

#navbar a:hover {
    background-color: lightpink;
}

.dropbtn {
    font-family: inherit;

    background-color: transparent;
    /*text-shadow:*/
    /*-1px -1px 0 white,*/
    /*1px -1px 0 white,*/
    /*-1px 1px 0 white,*/
    /*1px 1px 0 white;*/
    padding: 16px;
    font-size: 100%;
    border: none;
    cursor: pointer;
    width: 100%;

}


.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    width: 100%;


}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: lightpink;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightpink;
}


